<html>
    <head>
        <link rel=stylesheet href="" />
        <title><%= name %></title>
    </head>
    <body>
        <p><%= name %></p>
        <p><%= age %></p>
        <script>
            console.log("<%= name %>")
        </script>
    </body>
</html>

:html  
    :head
        :title = asdas

    :body
        :p {
            asdasdasd
        }
